/*reset*/
body {
    font: bold 14px Arial, serif;
}
body, html, div, p, h1, h2, h3, h4, h5, h6, table, tr, td, dl, dt, dd, ul, li, ol {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
}
input {
    border: none;
    outline: none;
    background-color: #ddd;
}
/*main*/
.container {
    width: 300px;
    height: auto;
    margin: 50px auto;
    border: 1px solid #eee;
    position: relative;
    background-color: #ddd;
}
.display {
    border-bottom: 1px solid #000;
}
.display .input-cur {
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    padding-right: 25px;
    padding-left: 36px;
    font-size: 32px;
    text-align: right;
}
.display .formula {
    width: 150px;
    margin-right: 25px;
    position: absolute;
    top: 5px;
    right: 0;
    text-align: right;
}
.btn {
    position: relative;
    left: 0;
    top: 0;
    padding-left: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn:after {
    content: '';
    display: block;
    clear: both;
}
.btn li {
    float: left;
    width: 50px;
    height: 35px;
    background-color: #0e0e0e;
    border: 1px solid #eee;
    margin: 5px 7px;
    text-align: center;
    line-height: 35px;
}
.btn li a {
    display: block;
    width: 50px;
    height: 35px;
    font-size: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.btn li a:hover {
    background-color: darkkhaki;
}
.btn .btn-0 {
    background-color: firebrick;
}
.btn .btn-1 {
    background-color: blue;
}
.btn .btn-2 {
    height: 82px;
    position: absolute;
    left: 216px;
    top: 161px;
    background-color: firebrick;
}
.btn .btn-2 a {
    height: 82px;
    line-height: 82px;
}
.btn .btn-3 {
    width: 116px;
}
.btn .btn-3 a {
    width: 116px;
}
