body {
  background-color: #EEEEEE;
}

h1 {
  text-align: center;
}

.container {
  width: 960px;
  height: 450px;
  margin: 60px auto;
  position: relative;
}

img {
  position: absolute;
  padding: 10px 10px 15px;
  background-color: #fff;
  border: 1px solid #eee;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

img:hover {
  -webkit-transform: rotate(0deg) scale(1.2);
  -moz-transform: rotate(0deg) scale(1.2);
  -ms-transform: rotate(0deg) scale(1.2);
  -o-transform: rotate(0deg) scale(1.2);
  transform: rotate(0deg) scale(1.2);
  box-shadow: 0 0 20px grey;
  z-index: 10;
}
.mm1{
  top: 20px;
  left: 10px;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
}
.mm2{
  top: 20px;
  left: 190px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}
.mm3{
  top:0;
  left: 400px;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.mm4{
  top: 40px;
  left: 580px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mm5{
  top: 20px;
  left: 860px;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.mm6{
  top: 220px;
  left: 10px;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.mm7{
  top: 220px;
  left: 200px;
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
}
.mm8{
  top: 220px;
  left: 340px;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.mm9{
  top: 200px;
  left: 530px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
.mm10{
  top: 320px;
  left: 650px;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
